/* Starting stuff */
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: linear-gradient(
        125deg,
        var(--cl-bg1),
        var(--cl-bg2)
    );
    margin: 0;
}

/* Header stuff */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - min(15vw, 160px));
    padding: 20px min(7.5vw, 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-weight: 700;
    font-size: var(--fs-lg);
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: var(--cl-text);
}
i {
    transform: scale(1);
    transition: 0.25s;
}
i:hover {
    transform: scale(1.2);
    color: var(--cl-1);
}

/* Title section */
#ts-scroll-text {
    z-index: 6;
    position: absolute;
    margin: 0 auto;
    bottom: 5vh;
    font-family: "futura_l";
    letter-spacing: 1px;
    text-align: center;
}

#ts {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ts-parallax, .ts-blobs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.ts-blobs{
    object-fit: fill;
    top: 125vh;
    filter: drop-shadow(0 0 16px #aa52b4);
}

#ts-slot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ts-title{
    position: absolute;
    font-size: var(--fs-xl);
}
#ts-magic {
    position: relative;

    color: white;
    transition: color 0.25s;
}
#ts-title:hover > #ts-magic {
    color: var(--cl-1);
}
#ts-title::before {
    --value: 0%;

    content: '';
    position: absolute;
    bottom: -0.5rem;
    right: calc(50% - calc(var(--value) / 2));

    transition: 0.25s;
    background: var(--cl-1);
    height: 5px;
    width: var(--value);
}
#ts-title:hover::before {
    --value: 100%;
    transition: 0.25s;
}

/* Project section */
#ps {
    height: 400vh;
    display: block;
    background-color: var(--cl-wave-end);
    overflow-x: hidden;
}

#ps-title > h1 {
    margin: 0;
}
#ps-title {
    text-align: center;
}
#ps-title-text{
    position: relative;
    display: inline-block;
    --value: 0%;
}
#ps-title-text::before {

    content: '';
    position: absolute;
    bottom: -0.5rem;
    right: calc(50% - calc(var(--value) / 2));

    transition: 0.25s;
    background:var(--cl-1);
    height: 5px;
    width: var(--value);
}
#ps-content{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 6;
    position: relative;
    width: 400%;
    height: 100vh;
}

#ps-content > img {
    place-self: center;
}