---
const { side="left", extended=false } = Astro.props
---

<style>
	.section{
        display: flex;

		
        align-items: center;
	}

	.landing-text{
		margin: auto;
  		width: 70%;
	}
</style>

<div class="section" style={`height: ${extended?100:75}vh`}>
    <div class="landing-text" style={`text-align: ${side}`}>
		<div class="sa-hidden">
        	<slot/>
		</div>
    </div>
</div>