---

---

<section>
    <img src="parallax/peak0.svg" class="parallax">
    <img src="parallax/wave0.svg" class="parallax">
    <img src="parallax/blob2.svg" class="blobs">
    <img src="parallax/peak1.svg" class="parallax">
    <img src="parallax/wave1.svg" class="parallax">
    <img src="parallax/blob1.svg" class="blobs">
    <img src="parallax/peak2.svg" class="parallax">
	<div id="slot"><h1 id="title">Hey, I'm <span id="magic">Kevin</span></h1></div>
    <img src="parallax/wave2.svg" class="parallax">
    <img src="parallax/peak3.svg" class="parallax">
    <img src="parallax/blob3.svg" class="blobs">
    <img src="parallax/wave3.svg" class="parallax">
    <img src="parallax/peak4.svg" class="parallax">
    <img src="parallax/blob0.svg" class="blobs">
    <img src="parallax/wave4.svg" class="parallax" style="z-index: 5;">
	<div id="scroll">SCROLL<br>↓</div>
</section>

<script>
	let images = document.getElementsByClassName("parallax");
	let blobs = document.getElementsByClassName("blobs");
	let slot = document.getElementById("slot");
	let scroll = document.getElementById("scroll")
	
	window.addEventListener('scroll', () => {
		let value = window.scrollY;

		slot.style.top = 0.6 * value + "px";
		scroll.style.bottom = `calc(5vh - ${2*value}px`;

		for (let i = 0; i < images.length; i++) {
			const element = images.item(i);
			element.style.top = 0.09 * (images.length - i - 1) * value + "px";
		}

		for (let i = 0; i < blobs.length; i++) {
			const element = blobs.item(i);
			element.style.top = `calc(125vh + ${-1.5 * (blobs.length - i) * value}px)`;
		}
	});
</script>

<style>
	#scroll{
		z-index: 6;
		position: absolute;
		bottom: 5vh;
		font-family: "futura_l";
		letter-spacing: 1px;
		text-align: center;
	}
	section {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	section img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		pointer-events: none;
	}

	.blobs{
		object-fit: fill;
		top: 125vh;
		-webkit-filter: drop-shadow(0 0 16px #aa52b4);
	}

	#slot {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#title{
		position: absolute;
		font-size: var(--font-size-xl);
	}
	#magic {
  		position: relative;

		background: white;
		transition: background 0.25s;

		background-size: 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#title:hover > #magic {
		animation: background-pan 3s linear infinite;

		background: var(--color-primary);

		background-size: 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#title::before {
		--value: 0%;

		content: '';
		position: absolute;
		bottom: -0.5rem;
		right: calc(50% - calc(var(--value) / 2));

		transition: 0.25s;
		background:var(--color-primary);
		height: 5px;
		width: var(--value);
	}
	#title:hover::before {
		--value: 100%;
		transition: 0.25s;
	}
</style>