---
import WavesAndPeaks from "../components/parallax/WavesAndPeaks.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<script src="https://kit.fontawesome.com/76f9ed315b.js" crossorigin="anonymous"></script>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kevin Chen Portfolio</title>
	</head>
	<body>
		<header>
			<a href="#" class="logo">Kevin Chen</a>
			<ul>
				<li><a href="#"><i class="fa-lg fa-brands fa-github"></i></a></li>
				<li><a href="#"><i class="fa-lg fa-brands fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa-lg fa-solid fa-bars"></i></a></li>
			</ul>
		</header>
		<WavesAndPeaks>
			<h1 id="title">Hey, I'm <span id="magic">Kevin</span></h1>
		</WavesAndPeaks>
		<section class="content">
			<h1>Temporary</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit.
				Accusantium corporis unde impedit tempore ab nihil placeat,
				dignissimos magnam enim sint error fugit aut doloremque magni
				consequuntur, quidem, quia veniam doloribus reiciendis dolorem
				aliquid laborum sunt iste fuga! Officiis explicabo natus quod
				possimus, et fugiat magnam dignissimos nemo eum, iste eius
				repellat earum nulla nam a modi ipsam neque quo? Hic itaque,
				odio perspiciatis nesciunt porro aliquam rem sapiente?
				Repudiandae nihil cum nam labore quisquam, recusandae corrupti
				rem suscipit alias. Explicabo aperiam repudiandae, cumque enim
				nesciunt quidem illum debitis, ex animi, quas pariatur
				dignissimos placeat recusandae aliquam? Molestiae, eaque nemo?
				Libero, quia, consequatur in magnam numquam quae sed nobis
				aliquam pariatur reprehenderit assumenda velit impedit fugit
				quam natus maxime eligendi officiis, enim deserunt blanditiis
				eum cupiditate ut accusantium doloremque? Assumenda et dolorum
				esse impedit quasi veniam quaerat fugiat, suscipit debitis sequi
				nesciunt numquam aspernatur. Dolorum dolor ad enim velit animi,
				qui voluptas voluptates provident sequi! Illo culpa possimus
				dignissimos eveniet vel! Eius inventore deserunt quod commodi
				architecto, ipsum voluptatum, doloremque maiores fugiat nesciunt
				culpa ipsa rerum? Velit voluptate repudiandae cum temporibus,
				numquam voluptatum, incidunt asperiores nulla magnam vero
				nostrum ad quidem voluptas modi quas minima nisi at!
				<br>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit.
				Accusantium corporis unde impedit tempore ab nihil placeat,
				dignissimos magnam enim sint error fugit aut doloremque magni
				consequuntur, quidem, quia veniam doloribus reiciendis dolorem
				aliquid laborum sunt iste fuga! Officiis explicabo natus quod
				possimus, et fugiat magnam dignissimos nemo eum, iste eius
				repellat earum nulla nam a modi ipsam neque quo? Hic itaque,
				odio perspiciatis nesciunt porro aliquam rem sapiente?
				Repudiandae nihil cum nam labore quisquam, recusandae corrupti
				rem suscipit alias. Explicabo aperiam repudiandae, cumque enim
				nesciunt quidem illum debitis, ex animi, quas pariatur
				dignissimos placeat recusandae aliquam? Molestiae, eaque nemo?
				Libero, quia, consequatur in magnam numquam quae sed nobis
				aliquam pariatur reprehenderit assumenda velit impedit fugit
				quam natus maxime eligendi officiis, enim deserunt blanditiis
				eum cupiditate ut accusantium doloremque? Assumenda et dolorum
				esse impedit quasi veniam quaerat fugiat, suscipit debitis sequi
				nesciunt numquam aspernatur. Dolorum dolor ad enim velit animi,
				qui voluptas voluptates provident sequi! Illo culpa possimus
				dignissimos eveniet vel! Eius inventore deserunt quod commodi
				architecto, ipsum voluptatum, doloremque maiores fugiat nesciunt
				culpa ipsa rerum? Velit voluptate repudiandae cum temporibus,
				numquam voluptatum, incidunt asperiores nulla magnam vero
				nostrum ad quidem voluptas modi quas minima nisi at!
				<br>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit.
				Accusantium corporis unde impedit tempore ab nihil placeat,
				dignissimos magnam enim sint error fugit aut doloremque magni
				consequuntur, quidem, quia veniam doloribus reiciendis dolorem
				aliquid laborum sunt iste fuga! Officiis explicabo natus quod
				possimus, et fugiat magnam dignissimos nemo eum, iste eius
				repellat earum nulla nam a modi ipsam neque quo? Hic itaque,
				odio perspiciatis nesciunt porro aliquam rem sapiente?
				Repudiandae nihil cum nam labore quisquam, recusandae corrupti
				rem suscipit alias. Explicabo aperiam repudiandae, cumque enim
				nesciunt quidem illum debitis, ex animi, quas pariatur
				dignissimos placeat recusandae aliquam? Molestiae, eaque nemo?
				Libero, quia, consequatur in magnam numquam quae sed nobis
				aliquam pariatur reprehenderit assumenda velit impedit fugit
				quam natus maxime eligendi officiis, enim deserunt blanditiis
				eum cupiditate ut accusantium doloremque? Assumenda et dolorum
				esse impedit quasi veniam quaerat fugiat, suscipit debitis sequi
				nesciunt numquam aspernatur. Dolorum dolor ad enim velit animi,
				qui voluptas voluptates provident sequi! Illo culpa possimus
				dignissimos eveniet vel! Eius inventore deserunt quod commodi
				architecto, ipsum voluptatum, doloremque maiores fugiat nesciunt
				culpa ipsa rerum? Velit voluptate repudiandae cum temporibus,
				numquam voluptatum, incidunt asperiores nulla magnam vero
				nostrum ad quidem voluptas modi quas minima nisi at!
				<br>
			</p>
		</section>
	</body>
</html>

<script>
	const final = "Hey, I'm Kevin"
	const sym = "█▓░>/"
	document.addEventListener("DOMContentLoaded", (event) => {
		let title = document.getElementById("title");
		let og = title.innerHTML;

		let iteration = 0;
		let interval = setInterval(() => {
			title.innerText = title.innerText.split("").map((letter, index) => {
				if(index < iteration) {
					return final[index];
				}
			
				return sym[Math.floor(Math.random() * 5)]
			}).join("");
			
			if(iteration >= final.length){
				title.innerHTML = og;
				clearInterval(interval);
			}
			
			iteration += 1 / 3;
		}, 20);
	});
</script>

<!-- 
	Palette:
	#740c9a
	#4e4ec4
	#21b0ff
	#aa52b4
	#ff218c
 -->

<style>
	@font-face {
		font-family: "futura_m";
		src: url("/futura.ttf");
	}
	@keyframes background-pan{
		from {
			background-position: 0% center;
		}
		to{
			background-position: 200% center;
		}
	}
	* {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: #fff;
		--color-primary: #ff218c;
		--color-secondary:#21b0ff;

		--color-bg1: #740c9a;
		--color-bg2: #4e4ec4;

		--hl-gradient: linear-gradient(
			0deg,
			var(--color-highlight1),
			var(--color-highlight2)
		);
	}
	html {
		font-family: "futura_m";
		font-size: var(--font-size-base);
		color: var(--color-text);
		scroll-behavior: smooth;
	}
	body {
		min-height: 100vh;
		background: linear-gradient(
			125deg,
			var(--color-bg1),
			var(--color-bg2)
		);
		margin: 0;
	}
	header {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - min(15vw, 160px));
		padding: 20px min(7.5vw, 80px);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header .logo {
		font-weight: 700;
		font-size: var(--font-size-lg);
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	header ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header ul li {
		list-style: none;
		margin-left: 10px;
	}
	a {
		text-decoration: none;
		color: var(--color-text);
	}
	i {
		transform: scale(1);
		transition: 0.25s;
	}
	i:hover {
		transform: scale(1.2);
		color: var(--color-primary);
	}
	.content {
		position: relative;
		background-color: #f700ff;
		padding: 2rem;
	}
	#title{
		position: absolute;
		font-size: var(--font-size-xl);
	}
	#magic {
  		position: relative;

		background: white;
		transition: background 0.25s;

		background-size: 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#title:hover > #magic {
		animation: background-pan 3s linear infinite;

		background: var(--color-primary);

		background-size: 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#title::before {
		--value: 0%;

		content: '';
		position: absolute;
		bottom: -0.5rem;
		right: calc(50% - calc(var(--value) / 2));

		transition: 0.25s;
		background:var(--color-primary);
		height: 5px;
		width: var(--value);
	}
	#title:hover::before {
		--value: 100%;
		transition: 0.25s;
	}
</style>