---
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';
---

<Base title="Hello!">
	<main>
		<div class="section">
			<div class="landing-text">
				<h3>Hi there, I'm</h3>
				<h1 class="name">kevin.</h1>
				<h2> &gt; FULL STACK DEVELOPER</h2>
				<h4>I'm a self taught programmer with experience in many fields.<span class="blink">|</span></h4>
				
			</div>
		</div>
		<div class="section">
			<div class="landing-text">
				<div class="projects">
					<h1 class="name">my stuff.</h1>
					<h4>Take a look at all of my different projects. You can sort through them!</h4>
					<button class="button">Check it out!</button>
				</div>
			</div>
		</div>

	</main>

</Base>

<style>
	:root {
		--name-gradient: linear-gradient(0deg, var(--color-highlight1), var(--color-highlight2));
	}

	h1, h2 {
		margin: 0;
	}

	h4{
		font-weight: 300;
		margin-bottom: 0;
	}

	main {
		padding: 1em;
	}

	.button{
		width: 12rem;
		height: 3rem;
		margin: 1rem;

  		display: inline-block;
		border-radius: 2rem;
		border-color: var(--color-highlight1);

  		text-align: center;
		font-weight: 700;
		font-size: var(--font-size-base);

		background-color: transparent;

		color: var(--color-bg1);
		background-image: var(--name-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: pulse 4s ease-in-out infinite;
	}

	.break{
		margin: auto;
		width: 10%;
		height: 1px;
		background-image: var(--name-gradient);
	}

	.projects{
		text-align: right;
	}

	.section{
		display:block;
		height: 75vh;
	}

	.landing-text{
		margin: auto;
  		width: 70%;
		padding: 25vh 0;
	}
	
	.name {
		font-weight: 900;
		background-image: var(--name-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}
	
	.blink {
		animation: blink 1s step-start 0s infinite;
		margin-top: 1rem;
		font-weight: 600;
	}

	@keyframes blink {
		50% {
			opacity: 0.0;
		}
	}
</style>
