---
const { side="left" } = Astro.props
---

<style>
	.section{
		display: block;
		height: 75vh;
	}

	.landing-text{
		margin: auto;
  		width: 70%;
		height: 25vh;

		padding: 37.5vh 0;
	}
</style>

<div class="section">
    <div class="landing-text" style={`text-align: ${side}`}>
		<div class="sa-hidden">
        	<slot/>
		</div>
    </div>
</div>