/* Starting stuff */
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: linear-gradient(
            125deg,
            var(--cl-bg1),
            var(--cl-bg2)
    );
    margin: 0;
}


/* Project section */
#ps {
    height: 400vh;
    display: block;
    background-color: var(--cl-wave-end);
    overflow-x: hidden;
}

#ps-title > h1 {
    margin: 0;
}
#ps-title {
    text-align: center;
}
#ps-title-text{
    position: relative;
    display: inline-block;
    --value: 0%;
}
#ps-title-text::before {

    content: '';
    position: absolute;
    bottom: -0.5rem;
    right: calc(50% - calc(var(--value) / 2));

    transition: 0.25s;
    background:var(--cl-1);
    height: 5px;
    width: var(--value);
}
#ps-content{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 6;
    position: relative;
    width: 400%;
    height: 100vh;
}

#ps-content > img {
    place-self: center;
}