---
import Base from "./Base.astro";

export interface Props {
	title: string;
    tags: string[];
    projectinfo: string[];

}
const { title, tags, projectinfo } = Astro.props;
---

<Base title={`Projects | ${title}`}>
    <div class="proj-header">
        <h2 class="title"><span class="hl-title">Projects</span> | <span class="hl-title">{title}</span></h2>
    </div>
    <div id="sidebar">
        <span class="sidebar-title">Tags</span>
        <div class="sidebar-break"></div>
        <div class="sidebar-content">
            <div class="tags">
                {tags.map((tag: string) => (
                    <p class="tag">{tag}</p>
                ))}
            </div>
        </div>
        <div class="sidebar-break"></div>
        <span class="sidebar-title">Project Info</span>
        <div class="sidebar-content">
            <table class="project-info ">
                    {projectinfo.map((thing: string) => (
                        <tr class="pi-table-item">
                            <td class="pi-table-item">{thing.split(':')[0]}</td>
                            <td class="pi-table-item">{thing.split(':')[1]}</td>
                        </tr>
                    ))}
            </table>
        </div>
    </div>
    <div class="content">
        <slot/>
    </div>
</Base>

<style>
    .proj-header {

        margin-bottom: 1rem;
        padding: 2rem;

        border-bottom-style: solid;
        border-bottom-width: 2px;
		border-color: var(--color-bg2);
    }

    .sidebar-content{
        margin:0.3rem
    }

    .sidebar-title{
        font-weight: 600;
        font-size: 1.6rem;
        display:block;
        margin: .5rem;
    }

    .sidebar-break{
        border-color: rgb(29, 29, 29);
        border-style: solid;
        border-width: 1px;
    }
    
    .content{
        margin: 2rem;
        width: 80vw;
        
        font-size: 0.9rem;
    }

    .title{
        margin: 0;
    }

    #sidebar{
        display: block;
        float: right;
        width: 15vw;
        height: 100%;
        padding: 0 0.5rem;

        border-color: rgb(29, 29, 29);
        border-style: solid;
        border-width: 1px;
    }

    .tag{
        border-radius: 1rem;
		border-color: var(--color-highlight1);
        border-style: solid;

        font-weight: 400;
        font-size: 15px;
        color: var(--color-highlight1);

        padding: 0.3rem .6rem;
        margin: 0.1rem 0.2rem;

        display: inline-block;
    }

    .project-info{
        width:100%;
        display:block;

        font-size: medium;
        border-collapse: collapse;
    }

    .pi-table-item{
        border-color: rgb(29, 29, 29);
        border-style: solid;
        border-width: 1px;
        padding: 0.2rem 0.3rem;
    }

    .tags{
        width: 16rem;
        flex-wrap: wrap;
        display:inline;
    }

    a {
        text-decoration: none;
    }
</style>

